<div class="row-fluid" >
  <div class="span12 blog_section_outer">
    <div class="blog_outer">
      <h3><span>Our Blog</span></h3>
      <div class="row-fluid">
        <!--blog content start-->
        <div class="span9">
          <%= render @posts %>
        </div>
        <!--blog content end-->
        <!--blog sidebar start-->
        <%= render "admin_menu" %>
        <!--blog sidebar end-->
      </div>
    </div>

  </div>
</div>