<div class="row-fluid" id="work_page">
  <div class="span12 work_section_outer">
    <div class="work_outer">
      <h3><span>Recent Works</span></h3>
      <div class="row">
        <div class="span10 offset1 slides">
          <div class="row-fluid">
            <div class="span12">
              <div class="bs-docs-example">
                <div id="myCarousel" class="carousel slide">
                  <!-- Works Items Start -->
                  <div class="carousel-inner">
                    <div class="active item"><img src="img/works/img_01.jpg" alt=""></div>
                    <div class="item"><img src="img/works/img_02.jpg" alt=""></div>
                    <div class="item"><img src="img/works/img_03.jpg" alt=""></div>
                    <div class="item"><img src="img/works/img_04.jpg" alt=""></div>
                    <div class="item"><img src="img/works/img_05.jpg" alt=""></div>
                    <div class="item"><img src="img/works/img_06.jpg" alt=""></div>
                  </div>
                  <!-- Works Items End -->
                  <!-- Works navigation Start -->
                  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a> <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> </div>
                <!-- Works navigation End -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Work End -->